<div class="container">
  <h1 class="my-5">Les plus grands succès</h1>

  <ng-template [ngIf]="trendList && !error">

    <div class="d-flex justify-content-center mb-5">
      <button [disabled]="prevIsDisabled" (click)="previous()" class="btn btn-secondary me-3">Précédent</button>
      <button (click)="next()" class="btn btn-secondary">Suivant</button>
    </div>

    <div class="d-flex flex-wrap justify-content-center gap-2">
      <div *ngFor="let movie of trendList.results" class="card col-12 col-sm-4 col-md-4 col-lg-2">
        <a [routerLink]="'/movie/'+movie.id">
          <img [src]="imagePrefix+movie.poster_path" class="card-img-top" [alt]="movie.title">
        </a>
        <div class="card-body">
          <h5 class="card-title">
            {{ movie.title }}
            <span class="fs-6 fw-light d-block mt-1"><em>({{ movie.original_title }})</em></span>
          </h5>
          <span class="badge bg-secondary">{{ movie.release_date | date : "dd/MM/yyyy" }}</span>
        </div>

      </div>
    </div>
  </ng-template>

  <ng-template [ngIf]="error">
    <p>{{ error }}</p>
  </ng-template>
</div>
